<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Minor Project</title>
</head>

<body style="background-color:rgb(180,180,180)">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                </li>
            </ul>
        </div>
    </nav>
    <img src="{{url_for("static",filename="image/what-is-deep-learning-large.jpeg")}}" width="1350px" height="300px">

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Project Name</th>
      <th scope="col">Deployment Link</th>
      <th scope="col">Github Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Decision_Tree_Experiment Social_Ads_datase</th>
      <td><a href="https://kishorekumar0371-kishore-decision-tree2-app-5fbibe.streamlitapp.com/" target="_blank">https://kishorekumar0371-kishore-decision-tree2-app-5fbibe.streamlitapp.com/</a></td>
      <td><a href="Air pollution forecasting is the application of science and technology to predict the composition of the air pollution in the atmosphere for a given location and time. An algorithm prediction of the pollutant concentrations can be translated into air quality index, same as actual measurements." target="_blank">https://github.com/kishorekumar0371/kishore_decision_tree2</a></td>
    </tr>
    <tr>
      <th scope="row">SVM and Random Forest Experiment</th>
      <td><a href="https://kishorekumar0371-kishore-svm-randomforest-app-las40b.streamlitapp.com/" target="_blank">https://kishorekumar0371-kishore-svm-randomforest-app-las40b.streamlitapp.com/</a></td>
      <td><a href="https://github.com/kishorekumar0371/kishore_svm_randomforest" target="_blank">https://github.com/kishorekumar0371/kishore_svm_randomforest</a></td>
      
    </tr>
    <tr>
     <th scope="row">NLP Sentiment analysis Restaurant Review</th>
      <td><a href="https://kishorekumar0371-kishore-nlp2--app-b97qaf.streamlitapp.com/" target="_blank">https://kishorekumar0371-kishore-nlp2--app-b97qaf.streamlitapp.com/</a></td>
      <td><a href="https://github.com/kishorekumar0371/kishore_nlp2_" target="_blank">https://github.com/kishorekumar0371/kishore_nlp2_</a></td>
    </tr>
      <tr>
     <th scope="row">House Price Prediction</th>
      <td><a href="https://kishore-multiple-regression.herokuapp.com/" target="_blank">https://kishore-multiple-regression.herokuapp.com/</a></td>
      <td><a href="https://github.com/kishorekumar0371/kishore_multiple_regression" target="_blank">https://github.com/kishorekumar0371/kishore_multiple_regression</a></td>
    </tr>
     <tr>
     <th scope="row">Digit Recognition</th>
      <td><a href="https://kishore-digit-recognition.herokuapp.com/" target="_blank">https://kishore-digit-recognition.herokuapp.com/</a></td>
      <td><a href="https://github.com/kishorekumar0371/digit_recognition__" target="_blank">https://github.com/kishorekumar0371/digit_recognition__</a></td>
    </tr>
    <tr>
     <th scope="row">Cat Dog Classification</th>
      <td><a href="https://kishor-cat-dog.herokuapp.com/" target="_blank">https://kishor-cat-dog.herokuapp.com/</a></td>
      <td><a href="https://github.com/kishorekumar0371/kishore_dogcat_classifica" target="_blank">https://github.com/kishorekumar0371/kishore_dogcat_classifica</a></td>
    </tr>
    <tr>
     <th scope="row">Placement Prediction Project</th>
      <td><a href="https://kishore-placement.herokuapp.com/" target="_blank">https://kishore-placement.herokuapp.com/</a></td>
      <td><a href="https://github.com/kishorekumar0371/kishore_placement" target="_blank">https://github.com/kishorekumar0371/kishore_placement</a></td>
                
    </td>
    <tr>
      <th scope="row">Face Recognition</th></td>
      <td><a href="https://kishorekumar0371-kishore-faceclassification-----app-h2xy30.streamlitapp.com/" target="_blank">https://kishorekumar0371-kishore-faceclassification-----app-h2xy30.streamlitapp.com/</a></td>
      <td><a href="https://github.com/kishorekumar0371/Kishore_face_classification" target="_blank">https://github.com/kishorekumar0371/Kishore_face_classification</a></td>
                
    </td>
 <tr>
      <th scope="row">Churn Model Prediction</th></td>
      <td><a href="https://churn-m.herokuapp.com/" target="_blank">https://churn-m.herokuapp.com/</a></td>
      <td><a href="https://github.com/kishorekumar0371/churn" target="_blank">https://github.com/kishorekumar0371/churn</a></td>
                
    </td>

  </tbody>
</table>

</body>

</html>
